
.ilb{display:inline-block;*display:inline;zoom:1}
.cell{display:table-cell;vertical-align:top}
.table{display:table;table-layout:fixed}
.noTrans{transition:none;-webkit-transition:none}
.clear{clear:both}.noGap{padding:0 !important}
@font-face{font-family: 'Roboto', sans-serif}
@font-face{font-family: 'Roboto', sans-serif}
@font-face{font-family: 'Roboto', sans-serif}
:before,[class*=" icon-"]:after,[class^="icon-"]:after,[class*=" icon-"]:before{font-family: 'Roboto', sans-serif}[class^="icon-"] span.hidden,[class*=" icon-"]
span.hidden{display:inline-block;height:0;width:0;overflow:hidden}
.s-title1{margin:40px 0 30px;font-family: 'Roboto', sans-serif;font-size:3.52941176em;line-height:1.16666667em;color:#fff}
@media (max-width:992px){.s-title1{font-size:2.64705882em;line-height:1.28888889em}}
@media (max-width:767px){.s-title1{font-size:2.05882353em;line-height:1.37142857em;margin:30px 0 20px}}
.s-intitule1,.s-intitule2{color:#808080;font-family: 'Roboto', sans-serif;letter-spacing:.2em;text-transform:uppercase}
.s-intitule1{font-size:.82352941em;line-height:2.14285714em}
.s-intitule2{font-size:.70588235em;line-height:2.5em}
.s-paragraphe{font-size:1.05882353em;line-height:1.66666667em;display:inline-block;width:50%}@media (max-width:1320px){.s-paragraphe{width:65%}}@media (max-width:767px){.s-paragraphe{width:100%}}.s-paragraphe a{color:#fff;font-style:italic}.s-paragraphe a:hover{color:#ff792e}.s-bold{font-family: 'Roboto', sans-serif;color:#fff}
.s-italic{font-style:italic;color:#fff}
.s-mini{font-size:.85em}
.c-grey{color:#808080}*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-ms-interpolation-mode:nearest-neighbor;image-rendering:optimizeQuality;text-rendering:optimizeLegibility}
body{background:#171515;color:#aaa;font-size:100%;font-size:1em;line-height:1.76470588em;font-family: 'Roboto', sans-serif}
strong{font-weight:normal}
a{-webkit-transition:all 250ms ease-out;transition:all 250ms ease-out;text-decoration:none}
.PageLayout{padding:0 20%;counter-reset:nb-slice -1;overflow:hidden;animation:body 1.2s ease-out;-webkit-animation:body 1.2s ease-out}
@media (max-width:1320px){.PageLayout{padding:0 15%}}
@media (max-width:992px){.PageLayout{padding:0 8%}}
@keyframes body{0%{transform:translateY(40px);opacity:0}33%{transform:translateY(40px);opacity:0}100%{transform:translateY(0);opacity:1}}
@-webkit-keyframes body{0%{transform:translateY(40px);-webkit-transform:translateY(40px);opacity:0}33%{transform:translateY(40px);-webkit-transform:translateY(40px);opacity:0}100%{transform:translateY(0);-webkit-transform:translateY(0);opacity:1}}

.Slice{margin:0px 0 120px 0}
@media (max-width:992px){.Slice{margin:90px 0}}
@media (max-width:767px){.Slice:first-child{margin:0px 0 90px}}
.Slice-count{position:relative;counter-increment:nb-slice}
@media (max-width:992px){.Slice-count{left:125px}}
.Slice-count:before{content:'0' counter(nb-slice);position:absolute;color:#ff792e;left:-125px}
.Slice-count:after{content:'';position:absolute;display:block;width:50px;height:2px;background:#ff792e;left:-75px;top:12px}
.Slice:nth-child(even) .Slice-count{text-align:right}
@media (max-width:992px){.Slice:nth-child(even) .Slice-count{left:inherit;right:125px}}
.Slice:nth-child(even) .Slice-count:before{left:inherit;right:-125px}
.Slice:nth-child(even) .Slice-count:after{left:inherit;right:-75px}
.Works{margin-top:60px}

.Works-project{width:100%;padding:30px 0;border-top:1px solid #3f3d3d;color:#fff;font-family: 'Roboto', sans-serif;font-size:.94117647em;line-height:1.875em}
.Works-project:last-child{border-bottom:1px solid #3f3d3d}
.Works-project:hover{background-image: url(https://media.giphy.com/media/XJzbVgdDU7VaGfRx6a/giphy.gif);background-size: fill}
.Works-project:hover
.s-intitule2,.Works-project:hover
.cssidea,.Works-project:hover
.c-grey{color:#f75c03;font-weight: bold;text-shadow: 4px 4px 12px rgba(0,0,0,0.3)}
.Works-project
.s-intitule2,.Works-project .c-grey{-webkit-transition:all 250ms ease-out;transition:all 250ms ease-out}@media (max-width:767px){.Works-project .s-intitule2{margin-bottom:-5px}}
.Works-project .cell{padding:0 30px}
@media (max-width:1320px){.Works-project .cell{padding:0 20px}}
@media (max-width:992px){.Works-project .cell{padding:0 10px}}
@media (max-width:767px){.Works-project .cell{display:block;width:100% !important;padding:0 30px}
.Works-project .cell+.cell{margin-top:15px}
.Works-project .cell:nth-child(2){margin-top:5px;margin-bottom:-18px}
.Works-project .cell:nth-child(3)
.s-intitule2{display:none}}
.Works-project .cell:first-child{width:10%;vertical-align:middle}
.Works-project .cell:nth-child(2){width:30%;vertical-align:middle;font-size:1.3em}
.Works-project .cell:nth-child(3){width:25%}
.Works-project .cell:nth-child(4){width:20%}
.Works-project .cell:nth-child(5){width:15%}
.Share{display:inline-block;margin-left:120px;}
@media (max-width:767px){.Share{width:100%;margin-top:20px;margin-left:0}.Share li{display:block;float:left;width:50%;margin-top:10px}}
.Share a{position:relative;padding:5px 0}
.Share a:before{content:attr(data-hover);position:absolute;display:inline-block;width:0;top:-1px;left:0;right:0;border-bottom:1px solid #ff792e;overflow:hidden;color:#ff792e;white-space:nowrap;transition:250ms ease-out;text-shadow:-1px -1px 0 #171515,1px -1px 0 #171515,-1px 1px 0 #171515,1px 1px 0 #171515}
.Share a:hover{color:#fff}
.Share a:hover:before{width:100%}a:focus{-webkit-box-shadow:0 0 5px 3px #ff792e;box-shadow:0 0 5px 3px #ff792e}*::selection{background:#ff792e;color:#fff}*::-moz-selection{background:#ff792e;color:#fff}a::selection{color:#000}a::-moz-selection{color:#000}

.Languages{display:inline-block;margin-left:1195px;margin-top:40px;margin-bottom:30px;vertical-align:top}
@media (max-width:767px){.Languages{width:100%;margin-top:40px;margin-left:0;text-align:center;}.Languages li{display:inline-block;width:50%;}}

.Languages a{position:relative;padding:5px 0}
.Languages a:before{content:attr(data-hover);position:absolute;display:inline-block;width:0;top:-1px;left:0;right:0;border-bottom:1px solid #ff792e;overflow:hidden;color:#ff792e;white-space:nowrap;transition:250ms ease-out;text-shadow:-1px -1px 0 #171515,1px -1px 0 #171515,-1px 1px 0 #171515,1px 1px 0 #171515}
.Languages a:hover{color:#fff}
.Languages a:hover:before{width:100%}a:focus{-webkit-box-shadow:0 0 5px 3px #ff792e;box-shadow:0 0 5px 3px #ff792e}*::selection{background:#ff792e;color:#fff}*::-moz-selection{background:#ff792e;color:#fff}a::selection{color:#000}a::-moz-selection{color:#000}
#orangebb {
  color: #ff792e;
}
.s-paragraphe.s-paragraphe--full{width: 100%; margin-top: 30px}
.lili{
  list-style-type: none;
}
#nouveautitre {
  text-align: center !important;
}
